*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2,h3,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1{
    font-family: 'Prompt', sans-serif;
}

.toggle{
    display: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background: #242424;
    z-index: 5;
    border-bottom: #fcb667 3px solid;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
    padding: 0 1.5rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.logo i{
    margin-right: 5px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    color: #f1f1f1;
}

.programming{
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.programming img{
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-left: -1%;
    width: 102%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    filter: blur(2px);
}

.menu_pres{
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_pres h4{
    font-size: 2rem;
}

.menu_pres h1{
    font-size: 7rem;  
}

#anim1{
    animation: dropdown 0.7s ease-out forwards;
}

#anim2{
    animation: dropdown 1s ease-out forwards;
}

#anim3{
    
    animation: dropdown 1.3s ease-out forwards;
}

@keyframes dropdown {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-35px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

@media all and (max-width: 1080px) {

    .toggle{
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 101;
    }

    .header{
        background-color: transparent;
    }

    .logo{
        position: relative;
        z-index:101;
    }

    .ouvrir {
        display: block;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer{
        display: block;
        z-index: 101;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }

    .open .logo{
        position: fixed;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: rgba(36,36,36, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .open .menu{
        transform: translateX(0);
    }

    .open .lock-scroll {
        overflow: hidden;
    }

    .menu li{
        margin: 15px 0;
        font-size: 2rem;
    }
}

.icons-social-menu{
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-social-menu a{
    margin: 0 .5em;
    color: #f1f1f1;
    font-size: 1.5rem;
    text-decoration: none;
}

/* ================================================ ABOUT ME */

.about-me-section{
    width: 100%;
    height: 80vh;
    border-top: #242424 .8vh solid;
    margin-top: -5px;
    background-image: url(../images/fond-pres.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-me{
    width: 65%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.about-me span{
    height: 500px;
    padding-right: 25px;
}

.about-me span img{
    height: 100%;
    /* border-radius: 50%; */
}

.about-me-pres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.about-me-pres h2{
    font-size: 3rem;
    color: #181818;
    
}

.about-me-pres p{
    font-size: 1.3rem;
    color: #181818;
    text-align: justify;
    width: 70%;
}

.about-me ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.about-me ul li{
    font-size: 1.4rem;
    font-weight: 500;
    color: #242424;
    margin: 0 25px;
}

.about-me-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttoncv{
    padding: 20px 35px;
    cursor: pointer;
    background: linear-gradient(345deg, #d8816f,#fcb667);
    border: 0;
    color: #f1f1f1;
    position: relative;
    transition: all .1s;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px #d8816f, 0px 0px 0px 0px #fcb667;
    font-size: 1rem;
    width: 210px;
    height: 65px;
}

.buttoncv::after{
    content: "";
    background: linear-gradient(225deg,#d8816f,#fcb667);
    z-index: -1;
    transition: all .5s;
    
}

.buttoncv:hover {
    transform: translate(0,-6px);
    box-shadow: 5px -5px 20px 0px #d8816f, -5px 5px 20px 0px #fcb667;
}



